@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bebas_neueregular';
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('./fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('./fonts/robotocondensed-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/robotocondensed-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.woff2') format('woff2'),
    url('./fonts/RobotoFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.swiper {
  @apply max-w-[1264px] xl:h-[678px] mx-auto py-6 xl:py-[80px] xl:overflow-visible !important;
}

.swiper-wrapper {
  @apply max-w-full h-full !important;
}

.swiper-slide {
  @apply flex justify-center items-center xl:block xl:w-[600px] xl:h-[446px] !important;
}

.slide {
  @apply h-auto w-full xl:h-full object-cover mb-6 xl:mb-0 !important;
}

.swiper-pagination {
  @apply mb-6 xl:mb-[81px] flex gap-[3px] justify-center opacity-60 !important;
}

.link-active {
  @apply font-roboto-flex font-semibold leading-5.5 -tracking-tight-0.02 text-15px text-[#0147FF] underline underline-offset-4 hover:cursor-pointer;
}

.link-not-active {
  @apply font-roboto-flex font-normal leading-5.5 -tracking-tight-0.02 text-15px text-black hover:cursor-pointer hover:underline hover:underline-offset-4;
}

#hamburger {
  @apply block cursor-pointer;
}

.btn-main,
.btn-secondary {
  @apply text-15px text-center leading-5.5 -tracking-tight-0.02 font-roboto-flex font-semibold  rounded-lg py-3 px-6 border-[1px];
}
.btn-main {
  @apply text-light-main bg-blue-main border-transparent;
}
.btn-secondary {
  @apply text-blue-main bg-light-main border-blue-main;
}
.btn-main:hover {
  @apply md:bg-light-main md:text-blue-main md:border-blue-main;
}
.btn-secondary:hover {
  @apply md:text-light-main md:bg-blue-main md:border-transparent;
}
