@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bebas_neueregular';
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('./fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('./fonts/robotocondensed-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/robotocondensed-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.woff2') format('woff2'),
    url('./fonts/RobotoFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.swiper {
  @apply max-w-[1264px] h-[678px] mx-auto py-[80px] overflow-visible !important;
}

.swiper-wrapper {
  @apply max-w-full h-full !important;
}

.swiper-slide {
  @apply w-[600px] h-[446px] !important;
}

.slide {
  @apply w-full h-full object-cover !important;
}

.swiper-pagination {
  @apply mb-[81px] flex gap-[3px] justify-center opacity-60 !important;
}

.link-active {
  @apply font-roboto-flex font-semibold leading-22.5 tracking-tight-custom-02 text-15px text-[#0147FF] underline underline-offset-4 hover:cursor-pointer;
}

.link-not-active {
  @apply font-roboto-flex font-normal leading-22.5 tracking-tight-custom-02 text-15px text-black hover:cursor-pointer hover:underline hover:underline-offset-4;
}
