@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bebas_neueregular';
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('./fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('./fonts/robotocondensed-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/robotocondensed-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.woff2') format('woff2'),
    url('./fonts/RobotoFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
